<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agathe.tsgtest"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.olab.dns_library.dnslibrary"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="@string/step_detector" android:required="true"/>
    <uses-feature android:name="@string/step_counter" android:required="true"/>
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.agathe.tsgtest.permission.C2D_MESSAGE" />

    <permission
        android:name="com.example.agathe.tsgtest.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ContactsVisualisationActivity"
            android:parentActivityName=".SettingsActivity">
        </activity>

        <!-- Sport -->
        <activity
            android:name=".sport.SportActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".sport.ChallengeActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".sport.SportActivity">
        </activity>

        <!-- Little Services -->
        <activity
            android:name=".littleservices.LittleServicesActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".littleservices.PublishOfferActivity"
            android:parentActivityName=".littleservices.LittleServicesActivity">
        </activity>

        <!-- Carpooling -->

        <activity
            android:name=".carpooling.PotentialCarpoolersActivity"
            android:parentActivityName=".carpooling.PurposeActivity">
        </activity>

        <activity android:name=".carpooling.MapsActivity" />

        <activity
            android:name=".carpooling.PurposeActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".carpooling.EntriesVisualisationActivity"
            android:parentActivityName=".SettingsActivity" >
        </activity>

        <!-- Public Events -->
        <activity
            android:name=".events.PublicEventsActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".events.EventDetailActivity"
            android:parentActivityName=".events.PublicEventsActivity" >
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.agathe.tsgtest" />
            </intent-filter>
        </receiver>

        <!-- BEGIN - PUSH NOTIFICATIONS WITH GOOGLE CLOUD MESSAGING (GCM) -->
        <service
            android:name=".PushListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- END - PUSH NOTIFICATIONS WITH GOOGLE CLOUD MESSAGING (GCM) -->

        <service
            android:name=".carpooling.GeolocationService"
            android:process=":my_service">
        </service>

    </application>

</manifest>